.input {
    width: 100%;
    padding: 24px;
    position: relative;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #A2CBFB;

    border-radius: 8px;
    border: 1px solid transparent;
    background-color: rgba(36, 39, 66);
}

.borderWrapper {
    position: relative;
    border-radius: 8px;

    background: linear-gradient(135deg, #9C37FDB2, #15BFFDB2);
    padding: 1px;
}

.input:active {
    color: #fff;
}

.input:disabled {
    color: #636363;
}


.input:focus {
    color: #fff;
    outline: none;
}

.error {
    background-color: rgba(61, 46, 69);
    ;
}

.borderErrorWrapper {
    background: #FD4646;
}

.borderDisabledWrapper {
    background: #636363;
}

.errorMessage {
    margin-top: 4px;
}