.QuestionsCardGradientWrapper {
    background: linear-gradient(to bottom, #15BFFDB2, #9C37FDB2);
    border-radius: 8px;
    padding: 1px;
    /* max-width: 700px; */
    width: 100%;
    clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
    margin-bottom: 24px;
}

.QuestionsCard {
    border-radius: 8px;
    background: #181c37;
    padding: 27px 24px;
    clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
}

.header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h4 {
    cursor: pointer;
}


.clearButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.textCollapse {
    transition: opacity 0.5s linear, height 0.5s linear, margin 0.5s; 
    max-height: fit-content;
    opacity: 1;
    height: 1000px;
}

.unselected {
    height: 0;
    opacity: 0;
    margin-top: -16px;
}