.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 180px;
}

.reviewBlock {
    display: flex;
    flex-direction: column;
    margin-right: 22px;
    margin-top: 10%;

}
.reviewBlock > h4 {
    margin-bottom: 17px;
}